{% extends 'layouts/default.html' %}

{% block body %}
    
    <div class="row">
        <div class="col-md-12">

	       <h2>Bienvenue sur GrandPy Bot !</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

	       <p>N'hésitez pas à demander une petite adresse à notre GrandPy préféré !</p>

            <form method="post">

                <label for="msg">Votre question :</label><br />

                <textarea type= "text" id="msg" name="msg" class="msg" style="resize:none"></textarea><br />

                <button type="submit" id="form">Envoyer</button>

            </form>
            </br>
        </div>

        <div id="map" class="col-md-8">

            <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtKZJuJonuqxYsm_f6BTcvP3UTQpzZ8gU&q={{ search }}Paris+France" allowfullscreen></iframe> 

        </div>
    </div>

    <div class="row">

        <div id="image" class="col-md-2"></div>

        <div id="display" class="col-md-10"></div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

	
{% endblock %}