
body
{
    background-color: #fff;
    color: #111;
}

.wrapper
{
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
    line-height: 30px;
}

#afficher
{
    font-style: italic;
}

a
{
    color: #1ce;
}

header, footer
{
    margin: 3em 1em;
    background-color: #334;
    color : #fff;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid black;
}

.citation
{
    font-style: italic;
    font-size: 1.25em;
}
.titre
{
    font-style: bold;
    font-size: 3.5em;
    color: #e11;
    line-height: 250%;
}

@media (max-width: 768px) {
    .titre {
        font-size : 2.5em;
        line-height: 150%;
    }
}


@media (max-width: 662px) {
    .wrapper, footer {
        font-size: 0.8em;
    }
    .titre {
        font-size : 2em;
        line-height: 0%;
    }
    .citation {
        font-size: 0.9em;       
    }
}

.name
{
    font-style: bold;
    font-size: 1.5em; 
}

textarea
{
    width: 80%;
    height: 85px;
}


body {

  padding-top: 10px;

}

[class*="col-"], footer, header {

/*
  background-color: lightgreen;

  border: 2px solid black;

  border-radius: 6px;

  line-height: 40px;
*/

  text-align: center;

}